@mixin sideBorder{
    border: 1px solid black;
    padding: 20px;
    margin: 7px;
    background-color:rgb(209, 201, 201);
}
@mixin star($color, $size) {
    .star-five{
      width: 0px;
      height: 0px;
    margin: $size/2 0;
    position: relative;
    display: block;
    color: $color;
    border-right: $size solid transparent;
    border-bottom: $size/100*70 solid $color;
    border-left: $size solid transparent;
    transform: rotate(35deg);
    &:before {
        width: 0px;
        height: 0px;
        border-bottom: $size/100*80 solid $color;
        border-left: $size/100*30 solid transparent;
        border-right: $size/100*30 solid transparent;
        position: absolute;
        top: -$size/100*45;
        left: -$size/100*65;
        display: block;
        content: '';
        transform: rotate(-35deg);
    }
    &:after {
        width: 0px;
        height: 0px;
        position: absolute;
        display: block;
        color: $color;
        top: $size/100*2;
        left: -$size/100*105;
        border-right: $size solid transparent;
        border-bottom: $size/100*70 solid $color;
        border-left: $size solid transparent;
        transform: rotate(-70deg);
        content: '';
    }
}
 }
 @mixin star-nocolor($color, $size) {
    .star-five-nocolor{
      width: 0px;
      height: 0px;
    margin: $size/2 0;
    position: relative;
    display: block;
    color: $color;
    border-right: $size solid transparent;
    border-bottom: $size/100*70 solid $color;
    border-left: $size solid transparent;
    transform: rotate(35deg);
    &:before {
        width: 0px;
        height: 0px;
        border-bottom: $size/100*80 solid $color;
        border-left: $size/100*30 solid transparent;
        border-right: $size/100*30 solid transparent;
        position: absolute;
        top: -$size/100*45;
        left: -$size/100*65;
        display: block;
        content: '';
        transform: rotate(-35deg);
    }
    &:after {
        width: 0px;
        height: 0px;
        position: absolute;
        display: block;
        color: $color;
        top: $size/100*2;
        left: -$size/100*105;
        border-right: $size solid transparent;
        border-bottom: $size/100*70 solid $color;
        border-left: $size solid transparent;
        transform: rotate(-70deg);
        content: '';
    }
}
 }
.sideView{
    overflow: auto;
    height: 600px;
    width: 30%;
    background-color:#777;
    box-sizing: border-box; 
}

.sideView1,.sideView2,.sideView3,.sideView4,.sideView5{
    @include sideBorder;
}
.sideView1:hover,.sideView2:hover,.sideView3:hover,.sideView4:hover,.sideView5:hover{
    @include sideBorder;
    background-color: whitesmoke;
}
.stars{
    @include star(rgb(136, 136, 36),10px);
    display: flex;
    flex-direction: row;
    @include star-nocolor(rgb(100, 96, 96),10px )
     
}


#mainView{
    background-image: url("movie.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px; 
    width: 80%; 
    text-align: center;
    font-size:2.5vw;
    color: white;
    text-shadow:1px 2px black;
    box-sizing: border-box;
    padding-top: 100px;
    
}

main{
    display: flex;
    height: 650px;
}
